<!DOCTYPE html>
<html>

<head>
    <title>Blackboughswim - Mix & Match</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="description" content="Jozi-Mix and Match">
    <meta name="keywords" content="mixmatch, mix & match, mixandmatch">

    <link rel="stylesheet" type="text/css" href="<%=remote_url%>/public/stylesheets/frontend.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css">
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css">

    <link rel="stylesheet" href="<%=remote_url%>/public/stylesheets/owl.carousel.min.css">
    <link rel="stylesheet" href="<%=remote_url%>/public/stylesheets/owl.theme.default.min.css">

    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/remodal/1.1.1/remodal.css">
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/remodal/1.1.1/remodal-default-theme.css">


    <script type="text/javascript">
        var shopdata = <%-JSON.stringify(shopdata)%> ;
        var currencySymbol = <%-JSON.stringify(currencySymbol)%> ;
        var settings = <%-JSON.stringify(settings)%> ;
        var kits = <%-JSON.stringify(kits)%> ;
        var styles = <%-JSON.stringify(styles)%> ;
        var collections = <%-JSON.stringify(collections)%> ;
        var products = <%-JSON.stringify(products)%> ;
        var shopInfo = <%-JSON.stringify(shopInfo)%> ;
        var remote_url = "<%=remote_url%>" ;
        currencySymbol = shopInfo.shop.currency;

        if (window.location.href.includes('https://blackboughswim.com')) {
            var head = document.head;
            var link = document.createElement("link");

            link.type = "text/css";
            link.rel = "stylesheet";
            link.href = 'https://blackboughswim.applicationnexus.com/public/stylesheets/blackbough-theme.css';

            head.appendChild(link);
        }

    </script>
    <style>
        .builder-details-container{
            background-color: <%=settings.placeholderdetailsBackColor%>;
            padding-top: 10px;
        }
        .product-price{
            color: <%=settings.placeholderPriceTextColor%>;
            font-size: <%=settings.placeholderPriceTextDesktopSize%>px;
        }

        .buy-btn.active{
            background-color: <%=settings.placeholderbuyBtnSecBgColor%> !important;
        }


        @media (min-width: 320px) and (max-width: 480px) {
            .product-price{
                font-size: <%=settings.placeholderPriceTextMobileSize%>px;
            }
        }
    </style>
</head>

<body>
    <div class="container-fluid">
        <div class="desktop-view">
            <div class="row builder-container">
                <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-xs-12 builder-slide-container">
                    <div class="slide-container" style="background-color: <%=settings.placeholderbgColor%>">
                        <div class="select-top-text">
                            <p style="color: <%=settings.placeholderTextColor%>"><%=settings.topText%></p>
                            <!--<i class="fa fa-chevron-down"></i>-->
                            <img src="<%=remote_url%>/public/images/down_arrow.png">
                        </div>

                        <div class="top-product-placeholder-container text-center">
                            <img src="<%=remote_url%>/uploads/<%=settings.placeholderTopImage%>">
                        </div>
                        <div class="top-product-slider-container">
                            <div class="top-product-slider owl-carousel owl-theme"></div>
                            <div class="owl-theme">
                                <div class="owl-controls">
                                    <div class="custom-nav owl-nav"></div>
                                </div>
                            </div>
                        </div>
                        <div class="bottom-product-placeholder-container text-center">
                            <img src="<%=remote_url%>/uploads/<%=settings.placeholderBottomImage%>">
                        </div>
                        <div class="bottom-product-slider-container">
                            <div class="bottom-product-slider owl-carousel owl-theme"></div>
                            <div class="owl-theme">
                                <div class="owl-controls">
                                    <div class="custom-nav owl-nav"></div>
                                </div>
                            </div>
                        </div>
                        <div class="select-bottom-text">
                            <!--<i class="fa fa-chevron-up"></i>-->
                            <img src="<%=remote_url%>/public/images/top_arrow.png">
                            <p style="color: <%=settings.placeholderTextColor%>"><%=settings.bottomText%></p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 builder-details-container">
                    <div class="row builder-head-text-container">
                        <div class="col-12">
                            <h3><%=settings.placeholderBuilderHeaderText%></h3>
                            <p><%=settings.placeholderBuilderDescriptionText%></p>
                            <!--<hr />-->
                        </div>
                    </div>
                    <div class="row kit-head-text-container">
                        <div class="col-12"></div>
                    </div>
                    <div class="top-bottom-head-container">
                        <div class="row">
                            <div class="col-6 tops-select-container">
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Tops
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <div class="row selected-items-container"></div>
                                        <hr />
                                        <div class="row selection-container"></div>
                                        <hr />
                                        <div class="row buttons-container">
                                            <div class="col-6">
                                                <a href="javascript:void(0)" class="done-btn">Done</a>
                                            </div>
                                            <div class="col-6">
                                                <a href="javascript:void(0)" class="reset-btn pull-right"><i class="fa fa-refresh"></i> Reset</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 bottoms-select-container">
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Bottoms
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <div class="row selected-items-container"></div>
                                        <hr />
                                        <div class="row selection-container"></div>
                                        <hr />
                                        <div class="row buttons-container">
                                            <div class="col-6">
                                                <a href="javascript:void(0)" class="done-btn">Done</a>
                                            </div>
                                            <div class="col-6">
                                                <a href="javascript:void(0)" class="reset-btn pull-right"><i class="fa fa-refresh"></i> Reset</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--<hr />-->
                    </div>
                    <div class="top-style-details-placeholder-container">
                        <div class="row">
                            <div class="col-12">
                                <h3><%=settings.placeholderBuilderTopText%></h3>
                            </div>
                        </div>
                    </div>
                    <div class="top-style-details-container">
                        <div class="row">
                            <div class="col-12">
                                <h3>
                                    <span class="collection-title"></span>
                                    <span class="product-price"></span>
                                </h3>
                                <p class="product-color">
                                    <span>in</span>
                                    <span class="color-text"></span>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 swatch-container"></div>
                        </div>
                        <div class="row size-container">
                            <div class="col-12"><p>Size <span class="error-box"><img src="<%=remote_url%>/public/images/exclamation.png" /> Select a size</span></p></div>
                            <div class="col-9 size-variants"></div>
                            <div class="col-3 size-chart-container">
                                <a href="#size-chart" class="size_chart" data-remodal-target="size-chart" data-no-instant="">Size Guide<img src="<%=remote_url%>/public/images/size-guard.png"></a>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="bottom-style-details-placeholder-container">
                        <div class="row">
                            <div class="col-12">
                                <h3><%=settings.placeholderBuilderBottomText%></h3>
                            </div>
                        </div>
                    </div>
                    <div class="bottom-style-details-container">
                        <div class="row">
                            <div class="col-12">
                                <h3>
                                    <span class="collection-title"></span>
                                    <span class="product-price"></span>
                                </h3>
                                <p class="product-color">
                                    <span>in</span>
                                    <span class="color-text"></span>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 swatch-container"></div>
                        </div>
                        <div class="row size-container">
                            <div class="col-12"><p>Size <span class="error-box"><img src="<%=remote_url%>/public/images/exclamation.png" /> Select a size</span></p></div>
                            <div class="col-9 size-variants"></div>
                            <div class="col-3 size-chart-container">
                                <a href="#size-chart" class="size_chart" data-remodal-target="size-chart" data-no-instant="">Size Guide<img src="<%=remote_url%>/public/images/size-guard.png"></a>
                            </div>
                        </div>
                    </div>
                    <div class="row buy-btn-container">
                        <button id="buy-btn" class="btn btn-lg buy-btn" style="color: <%=settings.placeholderbuyBtnTextColor%>;background-color: <%=settings.placeholderbuyBtnBgColor%>;">
                            <!--<span><%=settings.placeholderbuyButtonText%> - </span>
                            <span class="btn-price-text"></span>-->
                            <span><%=settings.placeholderbuyButtonText%></span>
                            <span class="btn-price-text"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="mobile-view">
            <div class="mobile-header-container">
                <div class="row builder-head-text-container">
                    <div class="col-12">
                        <h3><%=settings.placeholderBuilderHeaderText%></h3>
                        <p><%=settings.placeholderBuilderDescriptionText%></p>
                        <!--<hr />-->
                    </div>
                </div>
                <div class="row kit-head-text-container">
                    <div class="col-12"></div>
                </div>
                <div class="top-bottom-head-container">
                    <div class="row">
                        <div class="col-6 tops-select-container">
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Tops
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <div class="row selected-items-container"></div>
                                    <hr />
                                    <div class="row selection-container"></div>
                                    <hr />
                                    <div class="row buttons-container">
                                        <div class="col-6">
                                            <a href="javascript:void(0)" class="done-btn">Done</a>
                                        </div>
                                        <div class="col-6">
                                            <a href="javascript:void(0)" class="reset-btn pull-right"><i class="fa fa-refresh"></i> Reset</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 bottoms-select-container">
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Bottoms
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <div class="row selected-items-container"></div>
                                    <hr />
                                    <div class="row selection-container"></div>
                                    <hr />
                                    <div class="row buttons-container">
                                        <div class="col-6">
                                            <a href="javascript:void(0)" class="done-btn">Done</a>
                                        </div>
                                        <div class="col-6">
                                            <a href="javascript:void(0)" class="reset-btn pull-right"><i class="fa fa-refresh"></i> Reset</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--<hr />-->
                </div>
            </div>
            <div class="row builder-container">
                <div class="col-6 col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 builder-details-container">
                    <div class="scroll-container">
                        <div class="top-style-details-placeholder-container">
                            <div class="row">
                                <div class="col-12">
                                    <h3><%=settings.placeholderBuilderTopText%></h3>
                                </div>
                            </div>
                        </div>
                        <div class="top-style-details-container">
                            <div class="row">
                                <div class="col-12">
                                    <h3 class="collection-title"></h3>
                                    <h3 class="product-price"></h3>
                                    <p class="product-color">
                                        <span>in</span>
                                        <span class="color-text"></span>
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 swatch-container"></div>
                            </div>
                            <div class="row size-container">
                                <div class="col-12"><p>Size <span class="error-box"><img src="<%=remote_url%>/public/images/exclamation.png" /></span> <a href="#size-chart" class="size_chart" data-remodal-target="size-chart" data-no-instant=""><img src="<%=remote_url%>/public/images/size-guard.png"></a></p></div>
                                <div class="col-12 size-variants"></div>
                            </div>
                        </div>
                        <hr />
                        <div class="bottom-style-details-placeholder-container">
                            <div class="row">
                                <div class="col-12">
                                    <h3><%=settings.placeholderBuilderBottomText%></h3>
                                </div>
                            </div>
                        </div>
                        <div class="bottom-style-details-container">
                            <div class="row">
                                <div class="col-12">
                                    <h3 class="collection-title"></h3>
                                    <h3 class="product-price"></h3>
                                    <p class="product-color">
                                        <span>in</span>
                                        <span class="color-text"></span>
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 swatch-container"></div>
                            </div>
                            <div class="row size-container">
                                <div class="col-12"><p>Size <span class="error-box"><img src="<%=remote_url%>/public/images/exclamation.png" /></span> <a href="#size-chart" class="size_chart" data-remodal-target="size-chart" data-no-instant=""><img src="<%=remote_url%>/public/images/size-guard.png"></a></p></div>
                                <div class="col-12 size-variants"></div>
                            </div>
                        </div>
                    </div>
                    <button id="buy-btn" class="btn btn-lg buy-btn" style="color: <%=settings.placeholderbuyBtnTextColor%>;background-color: <%=settings.placeholderbuyBtnBgColor%>;width: 91%;margin-bottom:18px;">
                        <!--<span><%=settings.placeholderbuyButtonText%> - </span>
                        <span class="btn-price-text"></span>-->
                        <span><%=settings.placeholderbuyButtonText%></span>
                        <span class="btn-price-text"></span>
                    </button>
                    <p class="error-text"></p>
                    <a class="back-btn">
                        <span><img src="<%=remote_url%>/public/images/prev-icon.png"></span>
                        <span style="float: left;padding-top: 3px;">Back</span>
                    </a>
                </div>
                <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-xs-12 builder-slide-container">
                    <div class="slide-container" style="background-color: <%=settings.placeholderbgColor%>">
                        <div class="select-top-text">
                            <p style="color: <%=settings.placeholderTextColor%>"><%=settings.topText%></p>
                            <!--<i class="fa fa-chevron-down"></i>-->
                            <img src="<%=remote_url%>/public/images/down_arrow.png">
                        </div>
                        <div class="top-product-placeholder-container text-center">
                            <img src="<%=remote_url%>/uploads/<%=settings.placeholderTopImage%>">
                        </div>
                        <div class="top-product-slider-container">
                            <div class="top-product-slider owl-carousel owl-theme"></div>
                            <div class="owl-theme">
                                <div class="owl-controls">
                                    <div class="custom-nav owl-nav"></div>
                                </div>
                            </div>
                        </div>
                        <div class="bottom-product-placeholder-container text-center">
                            <img src="<%=remote_url%>/uploads/<%=settings.placeholderBottomImage%>">
                        </div>
                        <div class="bottom-product-slider-container">
                            <div class="bottom-product-slider owl-carousel owl-theme"></div>
                            <div class="owl-theme">
                                <div class="owl-controls">
                                    <div class="custom-nav owl-nav"></div>
                                </div>
                            </div>
                        </div>
                        <div class="bounce-arrow bounce"></div>
                        <div class="select-bottom-text">
                            <!--<i class="fa fa-chevron-up"></i>-->
                            <img src="<%=remote_url%>/public/images/top_arrow.png">
                            <p style="color: <%=settings.placeholderTextColor%>"><%=settings.bottomText%></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row buy-btn-container">
                <!--<div class="col-4">
                    <button id="details-btn" class="btn btn-lg details-btn">
                        <span><img src="<%=remote_url%>/public/images/up.png"></span>
                        <span>Details</span>
                    </button>
                </div>
                <div class="col-8">
                    <button id="buy-btn" class="btn btn-lg buy-btn" style="color: <%=settings.placeholderbuyBtnTextColor%> !important;background-color: <%=settings.placeholderbuyBtnBgColor%> !important;">
                        <span><%=settings.placeholderbuyButtonText%> - </span>
                        <span class="btn-price-text"></span>
                    </button>
                </div>-->
                <div class="col-12 text-center" style="padding-left: 0;">
                    <!--<img src="<%=remote_url%>/public/images/top_arrow-black.png">-->
                    <button id="details-btn" class="btn btn-lg buy-btn" style="color: #fff !important;background-color: #ff3872 !important;">
                        <span>Select Sizes and colors</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="container interim-container">
        <div class="row">
            <div class="col-12">
                <h1 class="text-center">Mix & Match Your Bikini</h1>
                <div class="interim-tops-container">
                    <div class="row">
                        <div class="col-12">
                            <h3 class="text-center">Select Your Tops</h3>
                            <div class="text-right mb-3">
                                <!--<input type= "checkbox" id="style_all_select" name="style_all_select" class = "checkbox-custom"><label for="style_all_select" class="checkbox-custom-label select-all-label" >Select all</label>-->
                                <label class="check-container">
                                    <input type="checkbox" id="style_all_select" name="style_all_select" class="checkbox-custom" />
                                    <span class="checkmark sel-all-check"></span>
                                    <span>Select all</span>
                                </label>
                            </div>
                            <div class="style-selection-container"></div>
                            <div class="text-center">
                                <button class="btn btn-dark btn-lg next-btn">CHOOSE BOTTOMS</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="interim-bottoms-container">
                    <div class="row">
                        <div class="col-12">
                            <h3 class="text-center">Select Your Bottoms</h3>
                            <div class="text-right mb-3">
                                <!--<input type= "checkbox" id="style_all_select" name="style_all_select" class = "checkbox-custom"><label for="style_all_select" class="checkbox-custom-label select-all-label" >Select all</label>-->
                                <label class="check-container">
                                    <input type="checkbox" id="style_all_select" name="style_all_select" class="checkbox-custom" />
                                    <span class="checkmark sel-all-check"></span>
                                    <span>Select all</span>
                                </label>
                            </div>
                            <div class="style-selection-container"></div>
                            <div class="text-center buttons-container">
                                <button class="btn btn-dark btn-lg back-btn pull-left">BACK TO TOPS</button>
                                <button class="btn btn-dark btn-lg continue-btn pull-right">CONTINUE TO BUILDER</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="snackbar"></div>
    <div class="remodal remodal-is-initialized remodal-is-opened" data-remodal-id="size-chart"
  data-remodal-options="hashTracking: false" tabindex="-1" style="display:none;">
    <a data-remodal-action="close" class="remodal-close"></a>
    <h5 class="center">Size Chart</h5>
    <div class="feature_divider"></div>
    <div class="_O689JW7n _WkWOibaw cus_table" data-id="_WkWOibaw">
        <div class="_pDNE0kYl _Elgkua78 pb-grid pb-grid--stackable pb-grid--automatic pb-grid--equal-height"
        data-id="_Elgkua78">
        <div class=" grid__column" style="padding: 15px;">
            <div class="_O689JW7n _0mPBiqaY" data-id="_0mPBiqaY">
            <h3 class="_qaQP6rvk _OoROhmd2" data-id="_OoROhmd2" style="text-align: center;">
                <b><span class="_VWvqNvR9 _NkVWHbpd _3JdPm85O" data-id="_NkVWHbpd">SIZING<br></span></b></h3>
            <ul class="_1rloNvJ_ _xe_EFBrq pb-list" data-id="_xe_EFBrq">
                <li class="_XQwxL5Bl _a_5wFb36" data-id="_a_5wFb36" style="text-align: left;">
                <span class="_VWvqNvR9 _dN_vFdXE _3JdPm85O" data-id="_dN_vFdXE">This is meant as a general sizing guide. Specific styles may run smaller or larger than normal, and this is indicated in the individual product descriptions.</span>
                </li>
                <li class="_XQwxL5Bl _JDngFGW6" data-id="_JDngFGW6" style="text-align: left;">
                <span class="_VWvqNvR9 _kgZyFBKV _3JdPm85O" data-id="_kgZyFBKV">If you are in between sizes or you're unsure, we recommend you take the larger size.</span>
                </li>
                <li class="_XQwxL5Bl _X69KFNgP" data-id="_X69KFNgP" style="text-align: left;">
                <span class="_VWvqNvR9 _1EL0F9ZN _3JdPm85O" data-id="_1EL0F9ZN">Please send us a message through our contact form or email aloha@blackboughswim.com in case you have any sizing questions. We're always eager to help!</span>
                </li>
            </ul>
            <h3 class="_qaQP6rvk _yngPh5Nl" data-id="_yngPh5Nl" style="text-align: center;">
                <a href="https://blackboughswim.com/pages/contact-us" target="_self" class="_VWvqNvR9 _YkyRHJpL _3JdPm85O" data-id="_YkyRHJpL">Please do not hesitate to contact us HERE! <br></a>
            </h3>
            <h3 class="_qaQP6rvk _bkE5h4Nj" data-id="_bkE5h4Nj" style="text-align: center;">
                <b><span class="_VWvqNvR9 _KpnNH9BX _3JdPm85O" data-id="_KpnNH9BX"></span></b></h3>
            <h3 class="_qaQP6rvk _bkE5h4Nj" data-id="_bkE5h4Nj" style="text-align: center;">
                <b><span class="_VWvqNvR9 _KpnNH9BX _3JdPm85O" data-id="_KpnNH9BX">TOP SIZE GUIDE</span></b></h3>
            <p style="text-align: center;">
                <img alt="" src="//cdn.shopify.com/s/files/1/1219/5720/files/TOP_MEASUREMENT_GUIDE_4_1024x1024.png?v=1557481279" style="float: none;"></p>
            </div>
        </div>
        </div>
        <h3 class="_qaQP6rvk _4NK9h4oX" data-id="_4NK9h4oX" style="text-align: center;">
        <b><span class="_VWvqNvR9 _yOvzHzpQ _3JdPm85O" data-id="_yOvzHzpQ"></span></b></h3>
        <h3 class="_qaQP6rvk _4NK9h4oX" data-id="_4NK9h4oX" style="text-align: center;">
        <b><span class="_VWvqNvR9 _yOvzHzpQ _3JdPm85O" data-id="_yOvzHzpQ"></span></b></h3>
        <h3 class="_qaQP6rvk _4NK9h4oX" data-id="_4NK9h4oX" style="text-align: center;">
        <b><span class="_VWvqNvR9 _yOvzHzpQ _3JdPm85O" data-id="_yOvzHzpQ"></span></b></h3>
        <h3 class="_qaQP6rvk _4NK9h4oX" data-id="_4NK9h4oX" style="text-align: center;">
        <b><span class="_VWvqNvR9 _yOvzHzpQ _3JdPm85O" data-id="_yOvzHzpQ"></span></b></h3>
        <h3 class="_qaQP6rvk _4NK9h4oX" data-id="_4NK9h4oX" style="text-align: center;">
        <b><span class="_VWvqNvR9 _yOvzHzpQ _3JdPm85O" data-id="_yOvzHzpQ"></span></b></h3>
        <h3 class="_qaQP6rvk _4NK9h4oX" data-id="_4NK9h4oX" style="text-align: center;">
        <b><span class="_VWvqNvR9 _yOvzHzpQ _3JdPm85O" data-id="_yOvzHzpQ"></span></b></h3>
        <h3 class="_qaQP6rvk _4NK9h4oX" data-id="_4NK9h4oX" style="text-align: center;">
        <b><span class="_VWvqNvR9 _yOvzHzpQ _3JdPm85O" data-id="_yOvzHzpQ"></span></b></h3>
        <h3 class="_qaQP6rvk _4NK9h4oX" data-id="_4NK9h4oX" style="text-align: center;">
        <b><span class="_VWvqNvR9 _yOvzHzpQ _3JdPm85O" data-id="_yOvzHzpQ"></span></b></h3>
        <h3 class="_qaQP6rvk _4NK9h4oX" data-id="_4NK9h4oX" style="text-align: center;">
        <b><span class="_VWvqNvR9 _yOvzHzpQ _3JdPm85O" data-id="_yOvzHzpQ"></span></b></h3>
        <h3 class="_qaQP6rvk _4NK9h4oX" data-id="_4NK9h4oX" style="text-align: center;">
        <b><span class="_VWvqNvR9 _yOvzHzpQ _3JdPm85O" data-id="_yOvzHzpQ"></span></b></h3>
        <h3 class="_qaQP6rvk _4NK9h4oX" data-id="_4NK9h4oX" style="text-align: center;">
        <b><span class="_VWvqNvR9 _yOvzHzpQ _3JdPm85O" data-id="_yOvzHzpQ"></span></b></h3>
        <h3 class="_qaQP6rvk _4NK9h4oX" data-id="_4NK9h4oX" style="text-align: center;">
        <b><span class="_VWvqNvR9 _yOvzHzpQ _3JdPm85O" data-id="_yOvzHzpQ"></span></b></h3>
        <h3 class="_qaQP6rvk _4NK9h4oX" data-id="_4NK9h4oX" style="text-align: center;">
        <b><span class="_VWvqNvR9 _yOvzHzpQ _3JdPm85O" data-id="_yOvzHzpQ"></span></b></h3>
        <h3 class="_qaQP6rvk _4NK9h4oX" data-id="_4NK9h4oX" style="text-align: center;">
        <b><span class="_VWvqNvR9 _yOvzHzpQ _3JdPm85O" data-id="_yOvzHzpQ"></span></b></h3>
        <h3 class="_qaQP6rvk _4NK9h4oX" data-id="_4NK9h4oX" style="text-align: center;">
        <b><span class="_VWvqNvR9 _yOvzHzpQ _3JdPm85O" data-id="_yOvzHzpQ"></span></b></h3>
        <h3 class="_qaQP6rvk _4NK9h4oX" data-id="_4NK9h4oX" style="text-align: center;">
        <b><span class="_VWvqNvR9 _yOvzHzpQ _3JdPm85O" data-id="_yOvzHzpQ"></span></b></h3>
        <h3 class="_qaQP6rvk _4NK9h4oX" data-id="_4NK9h4oX" style="text-align: center;">
        <b><span class="_VWvqNvR9 _yOvzHzpQ _3JdPm85O" data-id="_yOvzHzpQ"></span></b></h3>
        <h3 class="_qaQP6rvk _4NK9h4oX" data-id="_4NK9h4oX" style="text-align: center;">
        <b><span class="_VWvqNvR9 _yOvzHzpQ _3JdPm85O" data-id="_yOvzHzpQ"></span></b></h3>
        <h3 class="_qaQP6rvk _4NK9h4oX" data-id="_4NK9h4oX" style="text-align: center;">
        <b><span class="_VWvqNvR9 _yOvzHzpQ _3JdPm85O" data-id="_yOvzHzpQ"></span></b></h3>
        <h3 class="_qaQP6rvk _4NK9h4oX" data-id="_4NK9h4oX" style="text-align: center;">
        <b><span class="_VWvqNvR9 _yOvzHzpQ _3JdPm85O" data-id="_yOvzHzpQ"></span></b></h3>
        <h3 class="_qaQP6rvk _4NK9h4oX" data-id="_4NK9h4oX" style="text-align: center;">
        <b><span class="_VWvqNvR9 _yOvzHzpQ _3JdPm85O" data-id="_yOvzHzpQ">BOTTOM SIZE GUIDE<br></span></b></h3>
        <p style="text-align: left;">
        <img alt="" src="//cdn.shopify.com/s/files/1/1219/5720/files/Measurement_Guide_Bottoms_Final_1024x1024.png?v=1542706096" style="display: block; margin-left: auto; margin-right: auto; float: none;"></p>
        <h3 class="_qaQP6rvk _4NK9h4oX" data-id="_4NK9h4oX" style="text-align: center;">
            <span class="_VWvqNvR9 _yOvzHzpQ _3JdPm85O" data-id="_yOvzHzpQ"></span></h3>
        <h3 class="_qaQP6rvk _4NK9h4oX" data-id="_4NK9h4oX" style="text-align: center; margin-bottom: 30px;">
            <b><span class="_VWvqNvR9 _yOvzHzpQ _3JdPm85O" data-id="_yOvzHzpQ"></span></b></h3>
        <h3 class="_qaQP6rvk _4NK9h4oX" data-id="_4NK9h4oX" style="text-align: center; margin-bottom: 30px;">
            <b><span class="_VWvqNvR9 _yOvzHzpQ _3JdPm85O" data-id="_yOvzHzpQ"></span></b></h3>
        <h3 class="_qaQP6rvk _4NK9h4oX" data-id="_4NK9h4oX" style="text-align: center; margin-bottom: 30px;">
            <b><span class="_VWvqNvR9 _yOvzHzpQ _3JdPm85O" data-id="_yOvzHzpQ"></span></b></h3>
        <h3 class="_qaQP6rvk _4NK9h4oX" data-id="_4NK9h4oX" style="text-align: center; margin-bottom: 30px;">
            <b><span class="_VWvqNvR9 _yOvzHzpQ _3JdPm85O" data-id="_yOvzHzpQ"></span></b></h3>
        <h3 class="_qaQP6rvk _4NK9h4oX" data-id="_4NK9h4oX" style="text-align: center; margin-bottom: 30px;">
            <b><span class="_VWvqNvR9 _yOvzHzpQ _3JdPm85O" data-id="_yOvzHzpQ"></span></b></h3>
        <h3 class="_qaQP6rvk _4NK9h4oX" data-id="_4NK9h4oX" style="text-align: center; margin-bottom: 30px;">
            <b><span class="_VWvqNvR9 _yOvzHzpQ _3JdPm85O" data-id="_yOvzHzpQ"></span></b></h3>
        <h3 class="_qaQP6rvk _4NK9h4oX" data-id="_4NK9h4oX" style="text-align: center; margin-bottom: 30px;">
            <b><span class="_VWvqNvR9 _yOvzHzpQ _3JdPm85O" data-id="_yOvzHzpQ"></span></b></h3>
        <h3 class="_qaQP6rvk _4NK9h4oX" data-id="_4NK9h4oX" style="text-align: center; margin-bottom: 30px;">
            <b><span class="_VWvqNvR9 _yOvzHzpQ _3JdPm85O" data-id="_yOvzHzpQ"></span></b></h3>
        <h3 class="_qaQP6rvk _4NK9h4oX" data-id="_4NK9h4oX" style="margin-bottom: 30px; text-align: center;">
            <b><span class="_VWvqNvR9 _yOvzHzpQ _3JdPm85O" data-id="_yOvzHzpQ">BOTTOM FIT GUIDE<br></span></b></h3>
        <div class="modal-body row-fluid">
            <div class="col-md-4">
            <img src="//cdn.shopify.com/s/files/1/1219/5720/files/1-min_large.jpg?v=1528692442" alt="" style="display: block; margin-left: auto; margin-right: auto;">
            <h4 style="text-align: center;">Stassy Cheeky Bottoms</h4>
            <p style="text-align: center;">Our cheekiest bottoms. Cut in a v-shape and worn high up to the waist to
                highlight legs. This is the style to pick when you have been rocking those squats and want to show off your
                hard work.</p>
            </div>
            <div class="col-md-4" style="text-align: center;">
            <img src="//cdn.shopify.com/s/files/1/1219/5720/files/2_a9ce5038-865c-41fc-bd54-605710e67ab5-min_large.jpg?v=1528692515" alt="">
            <h4>Maui bottoms</h4>
            <p>This sleek bottom offers a sporty and secure fit, while showing slightly less skin than your cheekiest
                bottoms.</p>
            </div>
            <div class="col-md-4">
            <img src="//cdn.shopify.com/s/files/1/1219/5720/files/3-min_large.jpg?v=1528692549" alt="" style="display: block; margin-left: auto; margin-right: auto;">
            <h4 style="text-align: center;">Moderate bottoms</h4>
            <p style="text-align: center;">Our bottoms with the fullest coverage. Offers a secure and comfortable fit with
                a hint of cheek. Back is slightly scrunched to provide some extra lift all over.</p>
            </div>
        </div>
    </div>
    <br><br>
  </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script defer src="<%=remote_url%>/public/javascripts/owl.carousel.js"></script>
    <script src="<%=remote_url%>/public/javascripts/slick.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/remodal/1.1.1/remodal.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="<%=remote_url%>/public/javascripts/frontend-owl.js"></script>
</body>

</html>